[Unit]
Description=Borg Backup of {{ borg_backup_target }}
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/borg-backup.sh
StandardOutput=journal
StandardError=journal
SyslogIdentifier=borg-backup
